@using BelBank.ViewModels
@model ProductsListViewModel
@{
    Layout = "_Layout";
}

<h1>@Model.currentCategory</h1>

<table class="table">
    <tr>
        <td>Идентификатор</td>
        <td>Наименование категории</td>
    </tr>
    @{
        foreach (var cat in Model.getAllCatigories)
        {
        <tr>
            <td>@cat.Id</td>
            <td>@cat.NameCategory</td>
            <td>
                <a asp-controller="Category" asp-action="Edit" asp-route-id="@cat.Id">Изменить</a>
            </td>
            <td>
                <form method="post" asp-controller="Category" asp-action="Delete">
                    <input type="hidden" name="Id" value="@cat.Id" />
                    <input type="submit" value="Удалить" />
                </form>
            </td>
        </tr>
        }
    }
</table>
<a asp-action="Cteate">Добавить категорию</a>

